div {
  height: 500px;
  width: 500px;
}

#form1 label {
  color: #8d8d8d;
  font-size: 20px;
  font-weight: 700;
}

#but {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
}

input[type="text"],
textarea {
  width: 100%;
}

::-webkit-input-placeholder {
  color: #bab9b9;
}
::-moz-placeholder {
  color: #bab9b9;
}
:-ms-input-placeholder {
  color: #bab9b9;
}
:-moz-onput-placeholder {
  color: #bab9b9;
}

#headline {
  font-size: 30px;
  font-weight: 700;
}

label {
  color: grey;
  font-size: 20px;
}

p {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

#run {
  margin-top: 40px;
}
