a {
  color: red;
  border: 1px solid red;
  width: 500px;
}

p {
  color: red;
  border: 1px solid red;
  width: 500px;
}

table {
  border: 1px solid black;
  border-collapse: separate;
}

th, td {
  border: 1px solid black;
}
